@import "tailwindcss";

/* font resources */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* ------------shared styles------------ */
/* fonts styles */
.noto-serif{
    font-family: "Noto Serif", serif;
}
.inter{
    font-family: "Inter", sans-serif;
}
.primary-color{
    color: #E95A08;
}
.dark-1{
    color: #000000;
}
.dark-2{
    color: rgba(0, 0, 0, 0.5);
}
.dark-3{
    color: #111111;
}
.footer-text{
    color: #6B7280;
}


/* hover */
button:hover{
    background-color: cadetblue;
    transition: 0.4s;
    color: #E95A08;
}
